OPERATIONAL_DB_USER=operational_user
OPERATIONAL_DB_PASSWORD=operational_password
OPERATIONAL_DB_NAME=operational_weather
OPERATIONAL_DB_PORT=15432

WAREHOUSE_DB_USER=warehouse_user
WAREHOUSE_DB_PASSWORD=warehouse_password
WAREHOUSE_DB_NAME=weather_warehouse
WAREHOUSE_DB_PORT=15433

PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin_password
PGADMIN_PORT=5050